body {
    box-sizing: border-box;
}

.providersList {
    height: 64vh;
    overflow-y: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    margin-left: auto;

    li {
        list-style: none;
        width: 250px;
        height: 270px;
    }
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 5px;
    margin: 0;
}

li h4 {
    display: inline;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
}

li h5 {
    line-height: 32px;
    font-size: 12px;
    font-weight: 600;
}

li h6 {
    color: gray;
    font-size: 10px;
}